* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: sans-serif;
  background-color: hsl(0, 0%, 88%);
  color: hsl(0, 0%, 8%);
}

.container {
  max-width: 70rem;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 2rem;
  border-left: hsl(0, 0%, 45%) dotted 1px;
  border-right: hsl(0, 0%, 45%) dotted 1px;
  
}

.link {
  color: inherit;
  text-decoration: none;
  border-bottom: hsl(0, 0%, 8%) solid 1px;
}

.link:hover {
  border-bottom: none;
}

header {
  margin-bottom: 6rem;
  padding-top: 2.4rem;
  font-family: monospace;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

h1 {
  font-size: 4.8rem;
}

/* h1 .link {
  border-bottom: none;
} */

main {
  margin-bottom: 6rem;
}

h2 {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

p {
  margin-bottom: 2.4rem;
}

footer {
  font-size: 1.2rem;
}

/* AUTH FORMS */

.auth-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.4rem;
}

.auth-input {
  border: none;
  font-family: inherit;

  max-width: 24rem;
  height: 2.4rem;
  margin-bottom: 2.4rem;
}

.auth-input:focus {
  outline: hsl(0, 0%, 8%) solid 1px;
}

.auth-button {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  
  color: hsl(0, 0%, 88%);
  background-color: hsl(0, 0%, 8%);
  max-width: fit-content;
  padding: 0.6rem 1.2rem;
  border-radius: 3px;

  letter-spacing: 2px;
}

.auth-button:hover {
  cursor: pointer;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 18%);
}

/* ******************* */
/* DASHBOARD */
.dashboard {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;

  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 88%);
}

/* MAIN-PANEL */
.main-panel {
  width: 75vw;
  height: 100vh;
}

/* QUARTER-PANEL */
.quarter-panel {
  width: 25vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-left: hsl(0, 0%, 45%) 1px dotted;
}

/* TABS */
.panel-tabs {
  display: flex;
}

.tab {
  text-align: center;
  display: inline-block;
  width: 100%;
  padding: 0.6rem 0 0.6rem;
  letter-spacing: 2px;
}

.tab:hover {
  cursor: pointer;
  color: hsl(0, 0%, 98%);
}

.active {
  background-color: rgb(96, 0, 0);
}

/* PANEL */
.panel {
  overflow-y: scroll;
}

/* OPTIONS */
.options ul {
  list-style: none;
  padding-left: 1.2rem;
}

.options li:hover {
  cursor: pointer;
}